@import '~office-ui-fabric-react/dist/sass/References.scss';




:global{


  .myitemsmenuar{
    background: #6666cc;
    padding-right: 20px;
    z-index: 9;
    min-height: 25px !important;
    color: white!important;
    border:none!important;
    font-family: Bukra!important;

  }

  .myitemsmenuar:hover{
    background: #6666cc;
    padding-right: 20px;
    z-index: 9;
    min-height: 25px !important;
    color: white!important;
    border:none!important;
    font-family: Bukra!important;

  }


  .ms-ContextualMenu-link{
    background: #6666cc!important;
    color: white!important;
    font-weight: bold;


  }
  .languagediv  label{
    color: white!important;
    font-size: 14px!important;
  }

  .ms-Toggle-stateText{
    color: white!important;
    font-size: 14px!important;

  }


  .languagediv{
    position: absolute;
    z-index: 999999;
    font-size: 14px!important;
    right: 32px;
    padding-top: 11px!important;

  }

  .myitemsmenu .ms-CommandBarItem-link{
    border:none!important;
    background: #6666cc!important;
  }

  .myitemsmenu .ms-ContextualMenu-link:hover{
    color: white!important;
    background: #6666cc!important;

  }

  .myitemsmenu .ms-ContextualMenu-link{
    color: white!important;
    background: #151567!important;
  }

.mycommandbar{
  background: #6666cc!important;
}

.mydivcommandbarAR{
  direction: rtl!important;
  background: #6666cc!important;
  font-family: Bukra!important;
}

.mydivcommandbarAR .ms-ContextualMenu-linkContent{
  float: right!important;
  direction: rtl!important;
  font-family: Bukra!important;
}


.mydivcommandbarAR .ms-CommandBar{
  direction: rtl!important;
  background: #6666cc!important;
  font-family: Bukra!important;
}


.mydivcommandbarAR .ms-CommandBar-primaryCommand{
  background: #6666cc!important;
  font-family: Bukra!important;
}


.mydivcommandbarAR  .ms-CommandBar:hover{
  background: #6666cc!important;
  font-family: Bukra!important;
}

.mydivcommandbarAR .ms-CommandBar-primaryCommand:hover{
  background: #6666cc!important;
  font-family: Bukra!important;
}



.mydivcommandbar  .ms-CommandBar{
    background: #6666cc!important;
    direction :ltr;

  }

  .mydivcommandbar .ms-CommandBar-primaryCommand{
    background: #6666cc!important;
  }


  .mydivcommandbar  .ms-CommandBar:hover{
    background: #6666cc!important;
    color: white!important;;
  }

  .mydivcommandbar .ms-CommandBar-primaryCommand:hover{
    background: #6666cc!important;
    color: white!important;;
  }







  .myitemsmenu{
    background: #6666cc;
    padding-right: 20px;
    z-index: 9;
    min-height: 25px !important;
    color: white!important;;
    border:none!important;
  }

  .mycommandbar{
    background: #6666cc;
    padding-right: 20px;
    z-index: 9;
    min-height: 25px !important;
    color: white!important;;
  }

  .myitemsmenu:hover{
    background: #6666cc!important;;
    padding-right: 20px;
    z-index: 9;
    min-height: 25px !important;
    color: white!important;;
    text-decoration: none!important;
    background: #151567!important;

  }


  .mycommandbar:hover{

    background: #6666cc;

    padding-right: 20px;
    z-index: 9;
    min-height: 25px !important;
    color: white!important;;
    text-decoration: none!important;

  }




  .govtport {

    height: 115px !important;
    margin-bottom: 33px !important;
}

.maindiv {
    text-align: center;
width: 100%;
    border-radius: 11px;
    display: inline-block;

}

.innerdiv:hover {
width: 152px;
border: solid 5px white;
height: 50px;
padding: 8px;
display: inline-block;
border-radius: 76px;
padding-top: 14px;
text-align: center;
height: 60px;
color: white;
cursor: pointer;
background-color: #003;
}

.innerdiv {
    width: 152px;
    height: 50px;
    padding: 11px;
    display: inline-block;
    padding-top: 27px;
    text-align: center;
    height: 68px;
    color: white !important;
    cursor: pointer;

}

.innerdiv a {
    color: white !important;
}

.govtport {
    height: 115px !important;
margin-bottom: 13px !important;
width: 99%;
background: #3a3a94 url('https://abudhabidigital.sharepoint.com/sites/intranet/SiteAssets/images/patren-carousel-b.png') repeat-x;
padding: 10px 0px;
border: 7px solid #fff;
height: 110px;
margin: auto;
background-position-y: 5px;
border-radius: 0px;
}


  @media (min-width: 2200px) {
    .hero__title {
      margin-bottom: 40px;
    }

    .myimgg{
      height: 290px!important;
      min-height: 290px;

        }



  }




  @media (max-width: 978px) {
    .textdiv{
      float: left;
        position: relative;
        padding: 4px!important;
    }


    .myimgg{
      height: auto!important;

        }

    .textdivblue{
      float: left;
        position: relative;
        padding: 4px;
    }

  }
  @media (max-width: 480px) {
    .textdiv{
      float: left;
        position: relative;
        padding: 4px!important;
    }

    .textdivblue{
      float: left;
        position: relative;
        padding: 4px;
    }

   }








  @media only screen and (max-width: 600px) {
    .textdiv_de897336{
        display:none;
    }
    .myimgg{
      height: auto!important;

        }


  }


  @media (min-width: 700px) {
    .myimgg{
      height: auto!important;

        }


  }

  @media (min-width: 500px) {
    .myimgg{
      height: auto!important;

        }


  }







}


.innerdiv {
  width: 152px;
  height: 50px;
  padding: 11px;
  display: inline-block;
  padding-top: 27px;
  text-align: center;
  height: 68px;
  color: white !important;
  cursor: pointer;






}

.innerdiv a {
  color: white !important;
}

.govtport {
  height: 115px !important;
margin-bottom: 13px !important;
width: 99%;
background: #3a3a94 url('https://abudhabidigital.sharepoint.com/sites/intranet/SiteAssets/images/patren-carousel-b.png') repeat-x;
padding: 10px 0px;
border: 7px solid #fff;
height: 110px;
margin: auto;
background-position-y: 5px;
border-radius: 0px;
}


.macwebpartadda {



.myimg{
  width: 100%!important;
  height: auto!important;

}

.textdiv{

  float: left;
    position: relative;
    padding: 11px;
    width: 100%;
    font-size: 10px;
    text-align: justify;
    color: #fff;


  background: #faa317;



}

.textdivblue{


  background: #003;
  float: left;
  position: relative;

  padding: 11px;
  width: 100%;
  font-size: 10px;

  text-align: justify;
  color: #fff;









}

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
