@import '~office-ui-fabric-react/dist/sass/References.scss';




.innerdiv:hover {
  border: solid 5px white;
  border-radius: 76px;
  padding-top: 14px;
  text-align: center;
  height: 60px;
  color: white;
  cursor: pointer;
  background-color: #003;
  }


.innerdiv {
  width: 152px;
  height: 50px;
  padding: 11px;
  padding-top: 27px;
  text-align: center;
  height: 68px;
  color: white !important;
  cursor: pointer;



}

.innerdiv a {
  color: white !important;
}

.govtport {
  height: 115px !important;
margin-bottom: 13px !important;
width: 99%;
background: #3a3a94 url('https://abudhabidigital.sharepoint.com/sites/intranet/SiteAssets/images/patren-carousel-b.png') repeat-x;
padding: 10px 0px;
border: 7px solid #fff;
height: 110px;
margin: auto;
background-position-y: 5px;
border-radius: 0px;
}

.ms-Toggle-stateText{
  color: white!important;
}

.wpcarousalmasterpage {
:global{


  .pageclassen{
font-family: 'Bukra';
direction: ltr!important;


  }

  .pageclassar{
direction: rtl!important;
font-family: 'Bukra';

  }


.myrow{
  background: #3a3a94 url('https://abudhabidigital.sharepoint.com/sites/intranet/SiteAssets/images/patren-carousel-b.png');
  border: solid 3px white;
  text-align: center;
  color: white;
  cursor: pointer;
  padding-bottom:3px!important;
}


languagediv :label {
  color: white!important;
}

.innerdiv {
  width: auto;
  height: auto;
  padding: 11px;
  display: inline-block;
  padding-top: 17px;
  text-align: center;
  color: white !important;
  cursor: pointer;


}


.innerdiv:hover {
  border: solid 3px white;
  border-radius: 16px;
  text-align: center;

  color: white;
  cursor: pointer;
  background-color: #003;
  padding: 2px;
  margin-top: 11px;
  }

.innerdiv a {
  color: white !important;
  cursor: pointer;
}

.govtport {
  height: auto !important;
margin-bottom: 13px !important;
width: 99%;
background: #3a3a94 url('https://abudhabidigital.sharepoint.com/sites/intranet/SiteAssets/images/patren-carousel-b.png') repeat-x;
padding: 10px 0px;
border: 7px solid #fff;
margin: auto;
background-position-y: 5px;
border-radius: 0px;
}

  .mr-1{
    font-style: normal!important;
    font-size: 12px!important;
    padding: 11px;
    margin: 11px;
  }

  h2 {
    font-size: 18px;
    text-transform: uppercase;
    color: #000 !important;
    border-bottom: 3px solid #f7f7f7;
    padding-bottom: 10px;
    margin-bottom: 20px !important;
    width: 100%;
    font-weight: 500;
    line-height: inherit;
}

.BukraFont{
  font-family:'Bukra'!important;
}

  .tweetheading{
    color:#6666cc!important;
    font-family:'Bukra'!important;
  }

  .AbuDhabi-Digital-twitter :hover{
    font-style: normal!important;;
  }

  .AbuDhabi-Digital-twitter {

    background-image: url(https://abudhabidigital.sharepoint.com/sites/intranet/SiteAssets/JS/adda-body-bg.png)!important;
      width: 98%;
      display: inline-block;
      text-align: left;
      vertical-align: top;
      margin: 1px;
      /* background: #f3f3f3; */
      padding-top: 11px;
      position: relative;
      height: 132px;
      /* border-radius: 25px; */
      font-size: 11px;
      border-bottom: solid 1px #3f51b5;
     // background-image: url('https://i.pinimg.com/originals/ba/46/c8/ba46c8090ccc536ef26c005f9f2fc404.gif');
      z-index: 99999999;
      font-family:'Bukra'!important;

}
.AbuDhabi-Digital-twitter >  a {
  color: #000!important;
  text-align: left;
  cursor: pointer;
  text-decoration: none!important;
  font-family:'Bukra'!important;

}

.AbuDhabi-Digital-twitter >  a:hover {
  color: #000!important;
  text-align: left;
  font-style: normal!important;
  text-decoration: none!important;
  cursor: pointer;
  font-family:'Bukra'!important;
}

.AbuDhabi-Digital-twitter .t-time-stamp {
  position: absolute;
  bottom: 15px;
  font-size: 13px;
  color: #6666cc;
  width: 90%;
  font-family:'Bukra'!important;
}


}




  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}
